<h1>Recipe Title: <%= @recipe.title %></h1>
<h1>Recipe Created By: <%= @recipe.user.email %></h1>

<%= link_to 'Show Recipe', @recipe %>
<%= render partial: '/common/recipe_ratings_list', locals: {recipe: @recipe} %>